 {% extends 'PractiseChartBundle::base.html.twig' %} 
{% block body %}
<style type="text/css">
  
div#table{
width:auto;
height:700px;
background-color: #F8F5CE;
overflow:scroll;
}

</style>
  <script type="text/javascript" src="{{asset('jquery-1.11.1.min.js')}}"></script>
 <script type="text/javascript">
 var data={{ string|raw }};
 //loadin the data into table
     function buildHtmlTable() {
     var columns = addAllColumnHeaders(data);
 
     for (var i = 0 ; i < data.length ; i++) {
         var row$ = $('<tr/>');
         for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
             var cellValue = data[i][columns[colIndex]];
 
             if (cellValue == null) { cellValue = ""; }
 
             row$.append($('<td/>').html(cellValue));
         }
         $("#excelDataTable").append(row$);
     }
 }
 
 // Adds a header row to the table and returns the set of columns.
 // Need to do union of keys from all records as some records may not contain
 // all records
 function addAllColumnHeaders(data)
 {
     var columnSet = [];
     var headerTr$ = $('<tr/>');
 
     for (var i = 0 ; i < data.length ; i++) {
         var rowHash = data[i];
         for (var key in rowHash) {
             if ($.inArray(key, columnSet) == -1){
                 columnSet.push(key);
                 headerTr$.append($('<th/>').html(key));
             }
         }
     }
     $("#excelDataTable").append(headerTr$);
 
     return columnSet;
 }
 </script>
     <body onLoad="buildHtmlTable()">
        <div id="table">
            <table id="excelDataTable" class="table-hover">
            </table>
        </div>
</body>
 {% endblock %}