{% extends 'RosiaChartBundle::base.html.twig' %} 
{% block body %}
<html>
<head>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="{{asset('jquery-1.11.1.min.js')}}"></script>
  
 
  <script type="text/javascript">

  
    google.load('visualization', '1', { 'packages': ['corechart'] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = {{ string|raw }};
      var dataa = google.visualization.arrayToDataTable(data);
        

    var options = { position: 'top',textStyle: {color: 'blue', fontSize: 16},title:"Top Ten Products",showTip: true, is3D:true, width:960,height:700,backgroundColor:'#F8F5CE'};

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    chart.draw(dataa, options);
  };
  </script>
</head>
<body>
<div id="chart_div">
</div>
</body>
</html>
{% endblock %}                                              

